.groupform {
    display: flex;
    gap: 1rem;
}

.groupform> :first-child {
    width: 30%;

}

.groupform> :nth-child(2) {
    flex-grow: 1;
}

.errorMessage {
    color: red;
    font-size: 0.60rem;
}