.tree {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tree>li {
    margin: 0;
    padding: 0;
}

/* élément racine */
.item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    cursor: pointer;
    font-weight: 600;
}

/* sous-menu */
.tree li ul {
    font-size: small;
    list-style: none;
    margin: 0;
    padding-left: var(--space-md, 20px);
    /* fallback si var manquante */
}

.tree li ul .item {
    font-weight: 400;
}

/* indentation supplémentaire par niveau */
.tree li ul li ul {
    padding-left: 20px;
}

.itemName {
    flex: 1;
}

.arrow {
    margin-left: auto;
}

/* Niveau 1 enfant */
.tree>li>ul .item svg {
    width: 18px;
    height: 18px;
}

/* Niveau 2 enfant */
.tree>li>ul>li>ul .item svg {
    width: 16px;
    height: 16px;
}

/* Niveau 3 enfant */
.tree>li>ul>li>ul>li>ul .item svg {
    width: 14px;
    height: 14px;
}

/* Hover sur les items */
.item:hover {
    background-color: #f0f0f0;
    /* couleur d’arrière-plan au survol */
    color: #333;
    /* couleur du texte */
}

/* Pour que les icônes changent aussi de couleur */
.item:hover svg {
    stroke: #333;
    /* couleur de l’icône au survol */
}